.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  font-size: 300px;
  text-decoration: none;
  color: black;
}

.header:hover {
  color: rgb(53, 53, 53);
  text-decoration: none;
}